/* FONT STYLES */
/* font-family: 'Bebas Neue', cursive;
font-family: 'Open Sans', sans-serif; */

/* BODY STYLES */
html, body {
    background-image: url("../img/background/hardwood.jpg");
    background-repeat: repeat;
}
/* SECTION AND CONTAINER STYLES */
.container {
    background-color: #fff;
    opacity: 95%;
    margin: 0 auto;
    max-width: 1400px;
    width:80%;
}

.flexy {
    display: flex;
    width: 65%;
    margin: 0 auto;
}

.half {
    flex-direction: row;
    width: 48%;
    margin: 1%;
    padding:20px;
    text-align:center;
}
.info{
    margin-bottom:20px;
    text-align:center;
}

.return {
    height: 100%;
    /* min-height: 200px; */
    /* padding:40px; */
    text-align:center;
}

/* TEXT STYLES */
h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
#naming-info  {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

/* IMAGE Styles*/

#nbaLogo {
    width: 125px;
}

#nbaLogo img {
    width:100%;
}

.slick-arrow {
    display:none !important;
}

/* BUTTON STYLES */

.button {
    background-color: white;
    color: #008CBA;
    border: 2px solid #008CBA;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .button:hover {
    background-color: #008CBA;
    color: white;
  }


